<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <style>
   #loader {
            border: 12px solid #f3f3f3;
            border-radius: 50%;
            border-top: 12px solid #444444;
            width: 70px;
            height: 70px;
            animation: spin 1s linear infinite;
        }
 
        .center {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
 
        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }
	</style>
</head>

<body>
  <div id="loader" class="center"></div>
  <div id='header'>Selected Pangenome: "<%= pg %>"</div>
  
    <div id='loading'></div>

    <div id='message'>Loading to port <%= port %></div>
</body>
</html>
<script src="/assets/jquery-2.1.1.min.js"></script>


<script>
function isInt(value) {
  return !isNaN(value) && 
         parseInt(Number(value)) == value && 
         !isNaN(parseInt(value, 10));
}
document.onreadystatechange = function () {
            if (document.readyState !== "complete") {
                document.querySelector("body").style.visibility = "hidden";
                document.querySelector("#loader").style.visibility = "visible";
            } else {
                document.querySelector("#loader").style.display = "none";
                document.querySelector("body").style.visibility = "visible";
            }
        };

port = '<%= port %>'
url = '<%= url %>'

//if(port != 0){
if(!port || port == '0'){
    // initialize our loader overlay
    //console.log('onload')
    //document.getElementById('loading').innerHTML = 'Loading...' +url
    //loader.initialize();
    //loader.showLoader();
    
  if(isInt(port)){
    args = {}
    args.port = port
    //console.log('onload',port)
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.open("POST", 'wait_on_anvio', false);
    xmlhttp.setRequestHeader("Content-type","application/json");
    xmlhttp.onreadystatechange = function() {
    if (xmlhttp.readyState == 4 ) {
        var response = xmlhttp.responseText;
        //console.log('response',response)
        if(response === 'isFile'){   // integer 1
            //loader.hideLoader();
            //window.open(url,'_self') 
            //window.open(url,'_blank') 
            document.getElementById('message').innerHTML = "Open: <a href='"+url+"'>"+url+"</a>"
        }else{
           text = "Anvio` port error: "+port.toString()
           document.getElementById('message').innerHTML = response+'\nFailed: '+text
        }
       }
    };
    xmlhttp.send(JSON.stringify(args));
  }else{
    loader.hideLoader();
    text = "Anvio` port error: "+port.toString()
    document.getElementById('message').innerHTML = text
  }
}else{
    loader.hideLoader();
    text = "All Anvio` ports are in use. Try again later."
    document.getElementById('message').innerHTML = text
}



</script>
