<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<html lang="en">
<head>
<title><%= title %></title>
<style>
 .LockOn {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 105%;
    height: 105%;
    background-color: rgba( 26, 26, 26, 0.5 );
    vertical-align:bottom;
    padding-top: 20%; 
    filter: alpha(opacity=75); 
    opacity: 0.75; 
    font-size:large;
    color:blue;
    font-style:italic;
    font-weight:400;
    background-image: url("assets/loading3.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#header{
   background:lightblue;
   height:30px;
   width:100%;
   font-size:25px;
   padding:30px 0 30px 0;
   margin-top:20px;
   text-align:center;
}
#message{
   font-size:25px;
   width:100%;
   padding:20px;
   margin-top:50px;
}
</style>
</head>

<body>
  <div id="coverScreen"  class="LockOn"></div>
  <div id='header'>HOMD Selected Pangenome: "<%= pg %>"</div>
  <center>
     <div id='message'>Loading Anvio` Pangenome to port #<%= port %><br><a href='<%= url %>'><%= url %></a></div>
  </center>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>
</html>



<script>
//document.getElementById('mymessage').innerHTML = 'mystart'
function isInt(value) {
    return !isNaN(value) && 
         parseInt(Number(value)) == value && 
         !isNaN(parseInt(value, 10));
}



port = '<%= port %>'
url = '<%= url %>'
console.log('URL',url)
if(!port || port == '0'){
    text = "All Anvio` ports are in use. Try again later."
    document.getElementById('message').innerHTML = text
    
}else{    
    $("#coverScreen").show();
    if(isInt(port)){ 
        args = {}
        args.port = port
        console.log('onload',port)
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", 'wait_on_anvio', true);
        xmlhttp.setRequestHeader("Content-type","application/json");
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 ) {
              var response = xmlhttp.responseText;
              console.log('response',response)
              //document.getElementById('mymessage').innerHTML = 'resp '+response
              if(response === 'isFile'){   // integer 1
                
                //window.open(url,'_self') 
                window.open(url,'_blank') 
                $("#coverScreen").hide();
                
                //document.getElementById('message').innerHTML = "Open: <a href='"+url+"'>"+url+"</a>"
              }else{
                  $("#coverScreen").hide();
                  text = "Anvio` port error: "+port
                  document.getElementById('message').innerHTML = response+'<br>Failed: '+text
              }
            }
        };
        xmlhttp.send(JSON.stringify(args));
    }else{
        text = "Anvio` port error: "+port
        document.getElementById('message').innerHTML = text
    }
} 

</script>
